<header class="main-header">

    <div class="main-header-top-bar">
        <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" class="logo"></a>            
        <div class="search-bar">
            <input type="text" id="searchterm" placeholder="Buscar productos y Marcas"/>
            <button type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <h2 class="copy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Sistema de administración de productos
        </h2>
    </div>

    <a href="#" class="hamburger-menu">
        <i class="fas fa-bars"></i>
    </a>

    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Productos</a></li>
            <li><a href="#">Nuevo</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <li><a href="/views/register.html">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
            <li><a href="/views/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <!-- <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li> -->
        </ul>
    </nav>
</header>